@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

.radial-bg {
  background: linear-gradient(357.14deg, #fff 30.18%, rgba(255, 255, 255, 0) 62.27%), radial-gradient(50% 50% at 50% 50%, #fff 0, rgba(255, 255, 255, 0) 100%), linear-gradient(75deg, #bad2ea 19.7%, rgba(224, 230, 238, 0) 66.51%), linear-gradient(25.32deg, #ff9abc 23.7%, rgba(210, 123, 61, 0) 85.02%), linear-gradient(140.23deg, #f37a23 -3.96%, rgba(210, 123, 61, 0) 59.99%), linear-gradient(194.04deg, #efca6f -17.13%, rgba(242, 204, 118, 0) 29.34%), linear-gradient(236.09deg, #d78ca5 4.2%, rgba(215, 140, 165, 0) 45.07%), #fff9f9;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
}

.ghost-title {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px;
}

.portfolio .portfolio-thumbnail,
.skills .skill-grid-item {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
}

.portfolio .role ul {
  list-style: disc;
  margin-left: 1.5rem;
}

.portfolio .role ul li {
  margin-bottom: 0.5rem;
}

.portfolio-page .screenshots img {
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}