@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Nunito;
  src: url("../fonts/Nunito-Italic.ttf");
  font-style: italic;
}

* {
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

body {
  font-family: 'Nunito';
}